@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #e2eeff;
  --scrollbar-track-bg: #9dacff;
  --scrollbar-thumb-bg: #4385ff;
  --scrollbar-hover: #2f00ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --bg-color: #101823;
    --scrollbar-track-bg: #172055;
    --scrollbar-thumb-bg: #687388;
    --scrollbar-hover: #555;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-color);
}
.hero::before {
  content: '';
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70%;
  background: radial-gradient(circle, rgba(86, 117, 231, 0.5) 0%, rgba(156, 153, 255, 0) 70%);
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  animation: glow 3s forwards;
}
hero.dark::before::before {
  content: '';
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 70%;
  background: radial-gradient(circle, rgb(45 76 190 / 50%) 0%, rgb(17 16 42 / 0%) 70%);
  filter: blur(50px);
  z-index: 0;
  pointer-events: none;
  opacity: 0;
  animation: glow 3s forwards;
}
@keyframes glow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #1b2546 gray;
}